<section class="product-info cart-info">
    <span style="font-size: 90px;" class="material-icons">production_quantity_limits</span>
    <h2 style="font-size: 38px;">No hay productos en tu carrito</h2>
    <a href="/">Ver productos</a>
</section>