<nav>
    <div class="short-nav-desktop">
        <div>
            <h2 onclick="window.location = '/'" class="logo">Sierra Store</h2>
        </div>
        <div>
            <ul>
                <li><a href="#">sobre nosotros</a></li>
                <li><a href="#">servicios</a></li>
                <li><a href="#">contacto</a></li>
            </ul>
        </div>
    </div>
</nav>