<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style.css">
    <script src="/socket.io/socket.io.js"></script>

    <title>Compra realizada</title>
</head>

<body>
    <!-- <%-// include('../partials/nav')%> -->
    <a class="direction-button" href="../"><span class="material-icons">chevron_left</span>volver</a><br>
    <section>
        <section class="success-section">
            <span style="font-size: 90px;" class="material-icons">local_mall</span>
            <h1 style="font-size: 38px;">Compra exitosa!</h1>
            <p style="font-size: 25px;">Gracias por comprar en Sierra</p>
        </section>
    </section>

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>

</html>