<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style.css">
    <script src="/socket.io/socket.io.js"></script>
    <title>Inicia sesión</title>
</head>

<body>
    <%- include('../partials/simpler-nav')%>
        <section class="login-section">
            <div class="left-text">
                <h2>Garantía de calidad, solo en Sierra</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum architecto quo quia recusandae totam odio quasi eius sint? Architecto, suscipit?</p>
            </div>
            <span class="vertical-bar"></span>
            <div class="login-form">
                <h2>Iniciar sesión en Sierra</h2>
                <form action="/login" method="post">
                    <input type="email" name="username" class="form-input" placeholder="Email">
                    <input type="password" name="password" class="form-input" placeholder="Contraseña">
                    <!-- agregar botón de agregar al carrito en index -->
                    <button class="button two">Inicia sesión</button>
                    <p>¿No tienes una cuenta? <a class="redirect" href="/register">Regístrate</a></p>
                </form>
            </div>
        </section>
</body>

</html>